

      <nav class="hidden-xs-down bg-faded sidebar">
          <ul class="nav nav-pills flex-column">
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="[{ outlets: { contentOutlet: 'dashboard' }}]" routerLinkAction="active">Dashboard</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" [routerLink]="[{ outlets: { contentOutlet: 'produit' }}]" routerLinkAction="active">Produit</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link">Contact</a>
              </li>
          </ul>

          <ul class="nav nav-pills flex-column">
             <li class="nav-item">
                 <a class="nav-link">Home 3</a>
             </li>
              <li class="nav-item">
                  <a class="nav-link">Home 4</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link">Portfolio 1</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link">Contact 2</a>
              </li>
          </ul>
      </nav>
